
<div class = "container">
  <h1> A list of all of the diplomats </h1>


  <table class='table'>
    <thead>
      <th>Role</th>
      <th> Born </th>
      <th>Died</th>
    </thead>

    <tbody>
      <% @diplomats.each do |d| %>
        <tr>
          <td>
            <%=link_to d.name, diplomat_path(d)%>
          </td>
          <td>
            <%=d.born%>
          </td>
          <td>
            <%=d.died%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
