
<div class = "container">

  <h1>
    Find out more about a diplomat
  </h1>

  <h2> a list of roles held by <%= @diplomat.name %>  (<%= @diplomat.born %> - <%= @diplomat.died %>)</h1>

  <div class='panel'>
    <table class='table'>
      <thead>
        <th>Role</th>
        <th>Age at start </th>
        <th>Start Date</th>
        <th>End Date</th>
      </thead>

      <tbody>
        <% @diplomat.roles.each do |role| %>
          <tr>
            <td>
              <a href="/diplomats/<%= @diplomat.id %>/roles/<%= role.id %>"><%= role.role_name %></a>
            </td>
            <td>
              <% if @diplomat.born && role.start_date %>
                <%= role.start_date.to_i - @diplomat.born.to_i %>
              <% else %>
                unknown
              <% end %>
            </td>
            <td>
              <%= role.start_date %>
            </td>
            <td>
              <%= role.end_date %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>


  <h2> Contemporaries </h2>
  <p> a list of people whose were born within 5 years of this diplomat being born </p>
  <% @diplomat.contemporaries.each do |c| %>
    <a href='/diplomats/<%=c.id%>'> <%= c.name %> </a> born in <%= c.born %> <br>
  <% end %>
</div>
