
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<div class = "container">
  <h1> List of roles </h1>

  <table class='table'>
    <thead>
      <th>Role</th>
      <th> Age at start </th>
      <th>Start Date</th>
      <th>End Date</th>
    </thead>

    <tbody>
      <% @diplomat.roles.each do |role| %>
        <tr>
          <td>
            <%= role.role_name %>
          </td>
          <td>
            <% if @diplomat.born && role.start_date %>
              <%= role.start_date.to_i - @diplomat.born.to_i %>
            <% else %>
              unknown
            <% end %>
          </td>
          <td>
            <%= role.start_date %>
          </td>
          <td>
            <%= role.end_date %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
