
<div class = "container">
  <h1> <%= @siblings.first.role_name%> </h1>


  average tenure
  <%= @tenure.round  %> years
  <table class='table'>
    <thead>
      <th>Diplomat</th>
      <th> Age at start </th>
      <th>Start date </th>
      <th>End Date</th>
    </thead>

    <tbody>
      <% @siblings.sort {|a,b| a.start_date.to_i <=> b.start_date.to_i}.each do |s| %>
        <tr>
          <td>
            <a href="/diplomats/<%= s.diplomat.id %>"><%= s.diplomat.name %></a>
          </td>

          <td>
            <% if s.diplomat.born && s.start_date %>
              <%= s.start_date.to_i - s.diplomat.born.to_i %>
            <% else %>
              unknown
            <% end %>
          </td>

          <td>
            <%= s.start_date %>
          </td>

          <td>
            <%= s.end_date %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

